/* fonts.css */
@font-face {
  font-family: 'Comfortaa';
  src: url('./comfortaa/Comfortaa-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./comfortaa/Comfortaa-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./comfortaa/Comfortaa-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./comfortaa/Comfortaa-SemiBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}